# username for basic auth
api_key_id =
# password for basic auth
api_key_secret =
# X-app token
app_token =
#API URL
url = https://data.cityofnewyork.us/api/v3/views/8h9b-rp9u/query.json

#postgres_default
pg_def_dbname =
pg_def_host =
pg_def_user =
pg_def_password =
pg_def_port =

#pg_db_nypd
pg_nypd_dbname =
pg_nypd_host = # use `localhost` if running through .venv, use `host.docker.internal` if running in docker
pg_nypd_user =
pg_nypd_password =
pg_nypd_port =

#rustfs_creds or s3 credentials
access_key =
access_secret_key =
bucket =

# for s3 boto3.client()
s3_endpoint = http://localhost:9000

# for duckdb s3 configuration, if needed
duckdb_s3_endpoint = localhost:9000
